<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Doctors</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        {{>header}}
         
        <div class="page-wrapper">
             
            <div class="content">
                {{>messages}}
                <div class="row">
                  
                    <div class="col-sm-4 col-3">
                        
                        <h4 class="page-title">Doctors</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="doctors/add-doctor" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Doctor</a>
                    </div>
                </div>
               {{>_docSearchForm}}
				<div class="row doctor-grid">
                {{#each doctors}} 
                    <div class="col-md-4 col-sm-4  col-lg-3">

                      
                        <div class="profile-widget">
                            <div class="doctor-img">
                                <a class="avatar" href="doctors/profile/{{this._id}}"><img alt="" src="data:image;base64,{{this.img}}"></a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="doctors/edit-doctor/{{this._id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                                   
                                            <a class="dropdown-item" href="doctors/{{this._id}}?_method=DELETE"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                          
                                    
                                </div>
                            </div>
                            <h4 class="doctor-name text-ellipsis"><a href="doctors/profile/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></h4>
                            <div class="doc-prof">{{this.details}}</div>
                            <div class="user-country">
                                <i class="fa fa-map-marker"></i> {{this.city}} {{this.country}}
                            </div>
                        </div>
                        
                    </div>

                    {{/each}}
                   
             </div>
				<div class="row">
                    <div class="col-sm-12">
                        <div class="see-all">
                            <a class="see-all-btn" href="javascript:void(0);">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>