<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Add Employee</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>

<body>
    <div class="main-wrapper">
        {{>header}}
        <div class="page-wrapper">            
            <div class="content">
                {{>messages}}
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Employee</h4>
                     </div>
                </div>
                <div class="row">
                      
                    <div class="col-lg-8 offset-lg-2">
                        <form action="/employees/add-employee" method="POST">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="firstName" value="{{employee.firstName}}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control" type="text" name="lastName"  value="{{employee.lastName}}"> 
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="email"  value="{{employee.email}}" >
                                 </div>
                                </div>
                                <div class="col-sm-6">
                                 <div class="form-group">
                                <label class="display-block">Gender<span class="text-danger">*</span></label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender"  value="male" checked>
									<label class="form-check-label" for="product_active">
									Male
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender"  value="female" 
                                     {{#if_eq employee.gender 'female'}}
                                            checked
                                    {{/if_eq}}>
									<label class="form-check-label" for="product_inactive">
									Female
									</label>
								</div>
                                     </div>
                                </div>

                    		<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label>Address<span class="text-danger">*</span></label>
												<input type="text" class="form-control " name="address"  value="{{employee.address}}" >
                                            </div>
							            </div>
								        <div class="col-sm-6 ">
											<div class="form-group">
												<label>City<span class="text-danger">*</span> </label>
												<select class="form-control select" name="city" style="width: 100px;">
                                                   <option value={{employee.city}}>
                                                       {{#if employee.city}}
                                                             {{employee.city}}                                                       
                                                        {{else}}
                                                                Select City
                                                         {{/if}}
                                                    </option>

													<option value="Karachi">Karachi</option>
													<option value="Hyderabad">Hyderabad</option>
													<option value="Lahore">Lahore</option>
                                                    <option value="Peshawar">Peshawar</option>
												</select>
											</div>
										</div>
										  <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="phone"  value="{{employee.phone}}"> 
                                   </div>
                                </div>							
										
									</div>
								</div>
                                 <div class="col-sm-6 ">
											<div class="form-group">
												<label>Role<span class="text-danger">*</span> </label>
												 <select class="form-control select" name="role" style="width: 150px;">
                                                      <option value="{{employee.role}}"> 
                                                       {{#if employee.role}}
                                                             {{employee.role}}                                                       
                                                        {{else}}
                                                                Select Role
                                                         {{/if}}
                                                    </option> 
                                                     <option value="Nurse">Nurse</option>
													<option value="Receptionist">Receptionist</option>
													<option value="Accountant">Accountant</option>
                                                  
                                                  {{!-- <option value={{doc.department}}> 
                                                       {{#if doc.department}}
                                                             {{doc.department}}                                                       
                                                        {{else}}
                                                                Select Role
                                                         {{/if}}
                                                    </option> 
                                                    {{#each departments}}
													<option value={{name}}>{{name}}</option>
                                                    {{/each}} --}}
												</select> 
											</div>
								</div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Joining Date</label>
                                         <input class="form-control floating " type="date" style="width: 300px; height: 40px;" id="joiningDate"   name="joiningDate" value="{{employee.joiningDate}}" onclick="minDate(this)">
                                    </div>
                                </div>
                                  <div class="col-md-12">
									<div class="form-group">
										<label>Available Days</label>
										<select class="select" multiple name="dutyDays">
											<option>Select Days</option>
											<option>Sunday</option>
											<option >Monday</option>
											<option>Tuesday</option>
											<option>Wednesday</option>
											<option>Thursday</option>
											<option>Friday</option>
											<option>Saturday</option>
										</select>
									</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Time</label>
                                         <input type="time" class="form-control"  name="availableFrom">
                                    </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Time</label>
                                            <input type="time" class="form-control"  name="availableTill">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-6">
									<div class="form-group">
										<label>Basic Salary<span class="text-danger">*</span></label>
										<input class="form-control" type="number" min="0" name="basicSalary" value="0">
									</div>
                            </div>
                             <div class="col-sm-6">
									<div class="form-group">
										<label>Other Expenses<span class="text-danger">*</span></label>
										<input class="form-control" type="number" min="0" name="otherExpenses" value="0">
									</div>
                            </div>
                            </div>
                        <div class="form-group">
                                <label class="display-block">Status<span class="text-danger">*</span></label>
								<div class=" form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_active" value="active" checked>
									<label class="form-check-label" for="product_active">
								    Active
									</label>
								</div>
								<div class="form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_inactive" value="inactive" 
                                     {{#if_eq employee.status 'inactive'}}
                                        checked
                                    {{/if_eq}}>
									<label class="form-check-label" for="product_inactive">
									Inactive
									</label>
								</div>
                            </div>
                             <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Add Employee</button>
                            </div>
                        </div>
						
                           
                           
                        </form>
                    </div>
                </div>
            </div>
			
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/minDate.js"></script>
</body>

</html>
