<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Rooms</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        {{>header}}
        <div class="page-wrapper">         
            <div class="content">
                   {{>messages}}
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h4 class="page-title">Rooms</h4>
                    </div>
                    <div class="col-sm-7 col-7 text-right m-b-30">
                        <a href="/hospital/rooms/add-room" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Add Room</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Room No.</th>
                                        <th>Patient Name</th>
                                        <th>Alloted From</th>
                                        <th>Details</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each rooms}}
                                    <tr>
                                        <td>R-{{id}}</td>
                                        <td><a href="/patients/profile/{{patient._id}}">{{patient.firstName}} {{patient.lastName}}</a></td>
                                        <td >{{allotedFrom}}</td>
                                          <td >{{details}}</td>

                                        {{#if_eq status "free"}}
										    <td><span class="custom-badge status-green">{{status}}</span></td>
                                        {{/if_eq}}

                                        {{#if_eq status "occupied"}}
										    <td><span class="custom-badge status-red">{{status}}</span></td>
                                        {{/if_eq}}
                                      
                                        <td>
                                            <div class="row" style="display: flex; justify-content: space-around">
                                            {{#if_eq status "free"}}
                                             <form action="/hospital/rooms/allot-room/{{_id}}" method="GET"> 
                                                          <button class="btn status-green btn-sm"  type="submit">Allot</button>
                                            </form> 
                                            {{/if_eq}}
                                        
                                            {{#if_eq status "occupied"}}
                                            <form action="/hospital/deallocate-bed/{{_id}}/{{bedID}}" method="POST"> 
                                                          <button class="btn btn-primary btn-sm"  type="submit">Deallocate</button>
                                            </form> 
                                             {{/if_eq}}
                                           
                                            <form action="/hospital/rooms/{{_id}}?_method=DELETE" method="POST"> 
                                                          <button class="btn btn-danger btn-sm"  type="submit">Delete</button>
                                            </form>
                                        </div> 
                                        </td>
                                    </tr>
                                {{/each}}
                             </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>