<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Allot Bed</title>
   <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        {{>header}}
        <div class="page-wrapper">
            <div class="content">
                
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        {{>messages}}
                        <h4 class="page-title">Allot Bed</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form action="/hospital/allot-bed" method="POST">
                            <div class="row">
                                <div class="col-md-6">
									<div class="form-group">
										<label>Patient Name<span class="text-danger">*</span> </label>
										<select class="select" name="patient">
											<option value="">Select</option>
                                            
											{{#each patients}}
                                                <option value="{{_id}}">[PT: {{id}}] {{firstName}} {{lastName}}</option>
                                             {{/each}}
										</select>
									</div>
                                </div>
                               <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attendent Name<span class="text-danger">*</span> </label>
                                        <input class="form-control" type="text" name="attendentName" >
                                    </div>
                                </div>
                            </div>
                         
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ward<span class="text-danger">*</span> </label>
                                        <select class="select" id="ward" name="ward" onchange="getBeds()">
                                            <option value="">Select</option>
                                           {{#each wards}}
                                             <option value={{_id}}>{{wardName}}</option>
                                             {{/each}}
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Beds<span class="text-danger">*</span> </label>
                                        <select class="select" id="bedID" name="bedID">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                     <div class="form-group">
                                        <label>Date <span class="text-danger">* </span> </label>
                                        <div id="day"></div>
                                            <input type="date" class="form-control" name="allotedFrom" value="{{ward.allotedFrom}}" onclick="minDate(this)"  >
                                     </div>
                                   
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Allot Bed</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
  
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/getBeds.js"></script>
     <script src="/assets/js/minDate.js"></script>

	<script>
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
            });
     </script>

   
</body>

</html>
