<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Wards Details</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        {{>header}}
        <div class="page-wrapper">         
            <div class="content">
                {{>messages}}
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h5 class="page-title"><strong>Details</strong> </h5>
                          <h5>Ward No: {{wardID}}</h5>
                        <h5>Ward Name: {{wardName}}</h5>
                        <h5>Beds Capacity: {{bedCapacity}}</h5>
                        <h5>Beds Available: {{bedsAvailable}}</h5>
                        <h5>Beds Occupied: {{bedsOccupied}}</h5>                        
                    </div>
                    <div class="col-sm-7 col-7 text-right m-b-30">
                        <a href="/hospital/allot-bed" class="btn btn-primary btn-rounded">Allot Bed</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>Bed No.</th>
                                        <th>Patient Name</th>
                                        <th>Attendent Name</th>
                                        <th>Alloted From</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each beds}}
                                    <tr>
                                        <td>Bed-{{bedID}}</td>
                                        <td><a href="/patients/profile/{{patient._id}}">{{patient.firstName}} {{patient.lastName}}</a></td>
                                        <td >{{attendentName}}</td>
                                        <td>{{allotedFrom}}</td>
                                        {{#if_eq bedstatus "free"}}
										    <td><span class="custom-badge status-green">{{bedstatus}}</span></td>
                                        {{/if_eq}}

                                        {{#if_eq bedstatus "occupied"}}
										    <td><span class="custom-badge status-red">{{bedstatus}}</span></td>
                                        {{/if_eq}}
										
                                        <td class="text-right">
                                            <form action="/hospital/deallocate-bed/{{_id}}/{{bedID}}" method="POST"> 
                                                          <button class="btn btn-danger btn-sm"  type="submit">Deallocate Bed</button>
                                            </form> 
                                           <!-- <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                       <form action="/hospital/deallocate-bed/{{_id}}/{{bedID}}" method="POST"> 
                                                          <button class="btn btn-danger" btn-sm  type="submit">Deallocate Bed</button>
                                                      </form>   
                                            </div>
                                            -->
                                        </td>
                                    </tr>
                                {{/each}}
                             </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>